:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* --theme-color-primary: */
  /* --theme-color-secondary: */
  /* --theme-color-tertiary: */
  --theme-spacing-xs: 4px;
  --theme-spacing-s: 8px;
  --theme-spacing-m: 16px;
  --theme-spacing-l: 24px;
  --theme-spacing-xl: 32px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #1c2331;
  background: #f8f8f8;
  background-color: #E8ddcb;
  font-style: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 16px 0;
}

/* handle layout here */
.contentWrapper {
  max-width: 1440px;
  margin: 104px auto 0;
  padding: 0 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-container {
  width: 100%;
}

.sidebar-container {
  display: none;
}

@media (min-width: 1020px) {
  .contentWrapper {
    display: grid;
    align-items: start;
    gap: var(--theme-spacing-xl);
    grid-template-columns: 1fr 240px;
  }

  .sidebar-container {
    height: 60vh;
    position: sticky;
    top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
  }
}