.navbar {
  height: 88px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(28,35,49, .9);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(28, 35, 49, .7);
}

.navItem h3 {
  font-weight: 200;
  letter-spacing: 2px;
}

.navItem {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  color: #9fb8ad;
  transition: color .5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navItem:hover {
  text-decoration: underline;
  color: #e9d67a;
  cursor: pointer;
}
