.imageTileList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--theme-spacing-s);
}

/* this helps with spacing blog tiles if spare drops to new row */
.imageTileList::after {
  content: '';
  width: 240px;
  flex-grow: 1;
}

.imageTile {
  display: flex;
  flex-grow: 1;
  width: 240px;
  height: auto;
  transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
}

.imageTile img {
  border-radius: 4px;
}

.imageTile:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);;
}

.imageTile img {
  width: 100%;
  height: auto;
}
