.imageTile {
  width: fit-content;
  max-width: 240px;
  max-height: 150px;
  border-radius: 8px;
  transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;;
}

.imageTile:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);;
}