.imageTile {
  max-width: 240px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
}
/* look into how we did blogtile list images because they grow/shrink with screensize but also use next image */

.imageTile:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);;
}
